<%- include ("./partials/header") %>
<body id="mybody">
    <div class="ui pointing inverted fixed menu">
        <div class="ui container">

            <a href="/blogs/all/<%= user %>" class="header item"><i class="code icon"></i>Blog Site</a>
            <a href="/blogs/my/<%= user %>" class="item">My Posts</a>
            <a href="/blogs/all/<%= user %>" class="item">All Posts</a>
            <a href="/blogs/<%= user %>/new" class="item">New Post</a>
            <a href="/blogs" class="item right">Logout</a>

        </div>
    </div>

<div class= "ui main text">
    <div class= "ui huge header">Blog App</div>
    
    <div class= "ui top attached segment" id= "mybox">
        <div class= "ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item" id="myitem">
                    <div class= "image">
                        <img src="<%= blog.image %>" alt="image1">
                    </div>
                
                    <div class= "content">
                        <a class="header" href= "/blogs/all/<%= user %>/<%= blog._id %>"><%= blog.title %></a>

                        <div class="meta">
                            <span><%= blog.username.charAt(0).toUpperCase() + blog.username.slice(1) %></span>
                        </div>

                        <div class= "meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>

                
                        <div class= "description">
                            <% var str= blog.body %>
                            <p><%- str.substring(0,300) %>...</p>
                        </div>

                        <div class= "extra">
                            <a class="ui orange basic button big" href= "/blogs/all/<%= user %>/<%= blog._id %>">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>