<%- include ("partials/header") %>

<div class= "ui main text">
    <div class= "ui huge header">Blog App</div>
    
    <div class= "ui top attached segment" id= "mybox">
        <div class= "ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item" id="myitem">
                    <div class= "image">
                        <img src="<%= blog.image %>" alt="image1">
                    </div>
                
                    <div class= "content">
                        <a class="header" href= "/blogs/<%= blog._id %>"><%= blog.title %></a>
                   
                        <div class= "meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                
                        <div class= "description">
                            <% var str= blog.body %>
                            <p><%- str.substring(0,300) %>...</p>
                        </div>

                        <div class= "extra">
                            <a class="ui orange basic button big" href= "/blogs/<%= blog._id %>">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>