<%- include("./partials/header") %>
<body id="mybody">
    <div class="ui pointing inverted fixed menu">
        <div class="ui container">

            <a href="/blogs/all/<%= user %>" class="header item"><i class="code icon"></i>Blog Site</a>
            <a href="/blogs/my/<%= user %>" class="item">My Posts</a>
            <a href="/blogs/all/<%= user %>" class="item">All Posts</a>
            <a href="/blogs/<%= user %>/new" class="item">New Post</a>
            <a href="/blogs" class="item right">Logout</a>

        </div>
    </div>

<div class= "ui main text segment">
    <div class= "ui huge header">New Blog</div>

    <form class="ui form" action= "/blogs/all/<%= user %>" method= "POST">
        <div class="field">
            <label>Title:</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>

        <div class="field">
            <label>Image:</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        
        <div class="field">
            <label>Blog content:</label>
            <textarea rows="4" name= "blog[body]" placeholder="blog text goes here.."></textarea>
        </div>
        
        <button class="ui blue basic button big" type="submit">Submit</button>
    </form>
</div>

<%- include("./partials/footer") %>