<%- include ("partials/header") %>

<div class= "ui main text segment">
    <div class= "ui huge header"><%= blog.title %></div>
   
    <div class= "ui top attached" id= "mybox">
        <div class="ui items">
            <div class= "item">
                <div class= "ui medium bordered image">
                    <img src="<%= blog.image %>" alt="image1">
                </div>
            
                <div class= "content">
                    <span><strong><%= blog.created.toDateString() %></strong></span>

                    <div class="description">
                        <p><%- blog.body %></p>
                    </div>
                
                    <a class="ui orange basic button big" href="/blogs/<%= blog._id %>/edit">EDIT POST</a>
                
                    <form id="deleteform" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="ui red basic button big" type="submit">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>     
</div>

<%- include ("partials/footer") %>