<%- include ("partials/header") %>


<div class= "ui main text container segment">
    <div class= "ui huge header"><%= blog.title %></div>
    <div class= "ui top attached">
        <div class="item">
            <img class="ui centered round image" src="<%= blog.image %>" alt="image1">
        
            <div class= "content">
                <span><%= blog.created.toDateString() %></span>
            </div>

            <div class="description">
                <p><%- blog.body %></p>
            </div>

            <a class="ui orange basic button big" href= "/blogs/<%= blog._id %>/edit">EDIT POST</a>

            <form id= "deleteform" action="/blogs/<%= blog._id %>?_method=DELETE" method= "POST">
                <button class="ui red basic button big" type="submit">DELETE</button>
            </form>
        
        </div>
    </div>     
</div>


<%- include ("partials/footer") %>